!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %input#button1{type: 'button', value: 'Make me green'}
    #greenDiv Green Div

    %input#nameTxt{type: 'text', placeholder: 'Enter Your Name'}
    %input#nameBtn{type: 'button', value: 'Count the Characters'}
    #nameDiv blank


    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
