@import 'colors';
@import 'fonts';
@import 'header';
@import 'nav';
@import 'content';
@import 'footer';

.clear
{
  clear:both;
}

#main
{
  width: 960px;
  margin: 0px auto;
}

a
{
  text-decoration:none;
  color:$teslaRed;

  &:hover
  {
    text-decoration:underline;
    color:desaturate($teslaRed, 20%)
  }
}