.photo {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px dashed #cccccc;
  margin: 10px;
  background-size: cover; }

.selected {
  border: 1px solid red; }

#savedPhotos {
  border-left: 1px solid gray; }
